.modal-content {
  /* Add styles for the modal content */
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.data {
  /* Add temporary styling to make content visible */
  border: 1px solid #ccc;
  padding: 10px;
}

.btnthem {
  display: flex;
  width: 119.067px;
  padding: 7px 19px 7px 20px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 5px;
  background: #ED1C24;
  color: #F8F8F8;
  /* font-family: Poppins; */
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.titledesign {
  color: #ED1C24;
  /* font-family: Poppins; */
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modalSpace {
  padding-left: 10%;
  padding-right: 10%;
}

.mySelect {
  width: 192px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid rgba(237, 28, 36, 0.25);
  background: #FFF;
}

.myh4 {
  color: #000;
  /* font-family: Poppins; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1%;
}

.uploadfilebox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 808px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #979797;
}

.uploadfileboxinside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 778px;
  height: 111px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px dashed #979797;
  margin: auto;
}

.btnright {
  margin-top: 5%;
  margin-right: 17%;
  display: inline-flex;
  padding: 11px 74px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #ED1C24;
  float: right;
}

.file-upload-wrapper {
  display: flex;
  align-items: center;
  /* Vertically align items in the center */
  justify-content: space-between;
  /* Place maximum space between the two items */
}

.selected-file-name {
  flex: 1;
  /* This makes the file name take up as much space as possible */
  text-align: center;
  /* Center the file name text */
  font-size: 14px;
  color: #666;
}

.custom-file-upload-button {
  flex: 1;
  /* Prevent the button from growing */
}

.lightpinkupload {
  width: 236px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 3px;
  background: rgba(237, 28, 36, 0.25);
}

/* .modalborder {} */